.bg-mygrey{
  background-color: rgb(54, 56, 92);
}

.bg-Myfooter{
  background-color: rgb(163, 163, 163);
}

.variant-mydarkblue{
  background-color: rgb(14, 22, 98);
}

#brandname{
  font-size: 23px;
  color: rgb(46, 179, 231);
  padding: 1px 1px 1px 10px;
}

#buttonDark{
  font-size: 18px;
  padding: 5px 10px 5px 10px;
}

#ButtonsHeader{
  display: flex;
  flex-direction: row-reverse;
  justify-content: end;
}

.right-aligned{
  justify-content: flex-end;
}

.content{
  padding: 100px;
  height: 950px;
}
